.example-spacer {
    flex: 1 1 auto;
}

.card_1 {
    z-index: 0;
    background-image: url('/assets/image/10.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}